* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: verdana;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header div:nth-child(1) {
    background-color: greenyellow;
}

header div:nth-child(2) {
    background-color: firebrick;
}

header div:nth-child(3) {
    background-color: deepskyblue;

}

header div:nth-child(4) {
    background-color: coral;
}

header div {

    width: 25%;
    height: 200px;
    border: 30px solid white;
    background-color: royalblue;
    float: left;
}

nav {
    background-color: black;
    /* height: 50px; */
    padding: 10px 0 10px 50px;
    margin: 20px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px 30px;
    margin-left: 10px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    text-align: center;
}

footer {
    font-size: 10px;
    text-align: center;
}